.abonnements {
  position: relative;

  padding-top: 116px;
  min-height: 934px;

  text-align: center;

  background-image: url("../img/abonnement-bg-lg@1x.png"), linear-gradient(180deg, #f8f9fc 91%, #ffffff 91%);
  background-repeat: no-repeat;
  background-position: bottom -68px right, top left;
  background-size: 289px auto, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/abonnement-bg-lg@2x.png"), linear-gradient(180deg, #f8f9fc 91%, #ffffff 91%);
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/abonnement-bg-lg@1x.webp"), linear-gradient(180deg, #f8f9fc 91%, #ffffff 91%);
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/abonnement-bg-lg@2x.webp"), linear-gradient(180deg, #f8f9fc 91%, #ffffff 91%);
  }

  @media (max-width: $screen-md) {
    padding-top: 98px;
    min-height: 1845px;

    background-image: url("../img/abonnement-bg-md@1x.png"), linear-gradient(180deg, #f8f9fc 96.5%, #ffffff 96.5%);
    background-position: bottom -60px right, top left;
    background-size: 348px auto, auto;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/abonnement-bg-md@2x.png"), linear-gradient(180deg, #f8f9fc 96.5%, #ffffff 96.5%);
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/abonnement-bg-md.webp"), linear-gradient(180deg, #f8f9fc 96.5%, #ffffff 96.5%);
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/abonnement-bg-md@2x.webp"), linear-gradient(180deg, #f8f9fc 96.5%, #ffffff 96.5%);
    }
  }

  @media (max-width: $screen-sm) {
    padding-top: 70px;
    min-height: 1487px;

    background-image: none;
  }
}

.abonnements h2 {
  margin-bottom: 36px;

  @media (max-width: $screen-md) {
    margin-bottom: 30px;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 20px;
  }
}

.abonnements__tabs-list {
  margin-bottom: 38px;

  @media (max-width: $screen-md) {
    margin-bottom: 45px;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 35px;
  }
}
