.footer {
  margin-top: auto;
  background-color: $footer-bg-color;
}

.footer__inner {
  margin-right: auto;
  margin-left: auto;
  padding: 42px 10px 35px;
  width: 100%;
  max-width: 1366px;

  @media (max-width: $screen-md) {
    padding: 44px 10px 38px;
    padding-bottom: 38px;
  }

  @media (max-width: $screen-sm) {
    padding: 45px 15px 43px;
  }
}

.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
  width: 86.9%;

  @media (max-width: $screen-md) {
    width: 90.7%;
  }

  @media (max-width: $screen-sm) {
    position: relative;

    display: block;

    width: 100%;
  }
}

.footer__list {
  margin-right: auto;
  margin-left: auto;
}

.footer__logo {
  padding-left: 5px;

  @media (max-width: $screen-md) {
    padding-left: 0;
  }

  @media (max-width: $screen-sm) {
    position: absolute;
    top: 7px;
    left: 0;
  }
}

.footer__logo img {
  width: 89px;
  height: 20px;

  @media (max-width: $screen-md) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $screen-sm) {
    width: 68px;
    height: 15px;
  }
}
