.header {
  background-color: #ad042d;
  background-image: url("../img/intro-bg-lg@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-bg-lg@2x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-bg-lg@1x.webp");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-bg-lg@2x.webp");
  }

  @media (max-width: $screen-md) {
    background-image: url("../img/header-bg-md@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-md@2x.jpg");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-md.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-md@2x.webp");
    }
  }

  @media (max-width: $screen-sm) {
    background-image: url("../img/header-bg-sm@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-sm@2x.jpg");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-sm.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-sm@2x.webp");
    }
  }
}

.header__inner {
  position: relative;

  padding-top: 30px;
  padding-bottom: 77px;

  background-image: url("../img/header-sportsman-lg@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 51px right 210px;
  background-size: 500px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-sportsman-lg@2x.jpg");
  }

  @media (max-width: $screen-md) {
    padding-top: 38px;
    padding-bottom: 106px;
    width: 100%;
    max-width: 900px;

    background-image: url("../img/header-sportsman-md@1x.jpg");
    background-position: top 82px right 45px;
    background-size: 324px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-sportsman-md@2x.jpg");
    }
  }

  @media (max-width: $screen-sm) {
    padding-top: 18px;
    padding-bottom: 78px;

    background: none;
  }
}

.header__top-row {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 111px;

  @media (max-width: $screen-md) {
    margin-bottom: 72px;
  }
}

.header__logo {
  @media (max-width: $screen-md) {
    margin-top: 3px;
  }

  @media (max-width: $screen-sm) {
    margin-left: 2px;
  }
}

.header__logo img {
  width: 89px;
  height: 20px;

  @media (max-width: $screen-md) {
    width: 82px;
    height: 17px;
  }

  @media (max-width: $screen-sm) {
    width: 68px;
    height: 15px;
  }
}

.header__phone {
  margin-left: auto;

  font-family: $font-family-secondary;
  font-size: 26px;
  line-height: 26px;

  text-decoration: none;
  letter-spacing: 0.04em;

  color: $white;
  outline: none;

  @media (max-width: $screen-md) {
    font-size: 24px;
    line-height: 24px;

    letter-spacing: 0.03em;
  }

  @media (max-width: $screen-sm) {
    margin-right: 3px;

    font-size: 20px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.header__wrap {
  display: flex;
}

.header__text-block {
  width: 397px;

  font-family: $font-family-secondary;

  text-align: right;

  color: $white;

  @media (max-width: $screen-md) {
    width: 326px;
  }

  @media (max-width: $screen-sm) {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 390px;
  }
}

.header__text-block span {
  display: block;

  margin-bottom: 13px;

  font-size: 49px;
  line-height: 49px;

  letter-spacing: 0.03em;

  @media (max-width: $screen-md) {
    margin-right: 3px;
    margin-bottom: 8px;

    font-size: 34px;
    line-height: 34px;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 12px;

    font-size: 28px;
    line-height: 28px;
  }
}

.header__text-block h1 {
  margin: 0;
  padding: 0;

  font-size: 109px;
  font-weight: 700;
  line-height: 109px;

  letter-spacing: 0.03em;

  @media (max-width: $screen-md) {
    font-size: 86px;
    line-height: 86px;

    letter-spacing: 0.034em;
  }

  @media (max-width: $screen-sm) {
    font-size: 78px;
    line-height: 78px;
  }
}

.header__features-list {
  margin: -90px 265px 83px 0;

  @media (max-width: $screen-md) {
    margin: -80px 211px 57px 0;
  }

  @media (max-width: $screen-sm) {
    margin: -74px 180px 53px 0;
  }
}

.header__features-item {
  font-family: $font-family;
  font-size: 14px;
  line-height: $line-height;
}

.header__link {
  display: inline-block;

  padding: 19px 12px;
  width: 234px;
  min-height: 61px;

  font-family: $font-family;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;

  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $white;
  border: 4px solid $white;
  outline: none;
  background-color: transparent;

  @media (max-width: $screen-md) {
    width: 187px;
  }

  @media (max-width: $screen-sm) {
    padding-top: 20px;
    padding-bottom: 21px;
    width: 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.header__social {
  margin-top: 315px;
  margin-left: auto;

  @media (max-width: $screen-md) {
    display: none;
  }
}

.header__social-item {
  margin-bottom: 15px;
}

.header__social-item a {
  font-size: 12px;
  line-height: 14px;

  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  color: $white;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
