.lesson {
  position: relative;

  flex-grow: 2;

  margin-left: auto;

  background-color: $blue-dark;

  @media (max-width: $screen-md) {
    padding: 67px 161px 69px 132px;
  }

  @media (max-width: $screen-sm) {
    padding: 69px 15px 71px;
  }
}

.lesson__inner {
  margin-left: auto;
  padding: 67px 171px 68px 0;
  width: 583px;

  @media (max-width: $screen-md) {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 475px;
  }

  @media (max-width: $screen-sm) {
    width: auto;
  }
}

.lesson h2 {
  margin-bottom: 41px;

  color: $white;

  @media (max-width: $screen-md) {
    margin-bottom: 32px;
  }

  @media (max-width: $screen-md) {
    margin-bottom: 34px;
  }
}
