.lesson {
  position: relative;

  flex-grow: 2;

  margin-left: auto;
  padding: 67px 172px 68px 100px;
  width: 580px;

  background-color: $blue-dark;

  @media (max-width: $screen-md) {
    padding: 67px 161px 69px 132px;
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    padding-top: 69px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.lesson__inner {
  @media (max-width: $screen-md) {
    margin-left: auto;
    margin-right: auto;
    width: 475px;
  }

  @media (max-width: $screen-sm) {
    width: auto;
  }
}

.lesson h2 {
  margin-bottom: 41px;

  color: $white;

  @media (max-width: $screen-md) {
    margin-bottom: 32px;
  }

  @media (max-width: $screen-md) {
    margin-bottom: 34px;
  }
}
