.promo {
  padding-top: 118px;
  padding-bottom: 50px;

  @media (max-width: $screen-md) {
    padding-top: 100px;
  }

  @media (max-width: $screen-sm) {
    padding-top: 70px;
    padding-bottom: 12px;
  }
}

.promo__inner {
  @media (max-width: $screen-sm) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.promo h2 {
  margin-bottom: 52px;

  text-align: center;

  @media (max-width: $screen-md) {
    margin-bottom: 40px;
  }
}

.promo__container {
  display: flex;
  flex-wrap: wrap;

  font-weight: 700;

  @media (max-width: $screen-md) {
    flex-direction: column;

    margin-right: auto;
    margin-left: auto;
    width: 678px;
  }

  @media (max-width: $screen-sm) {
    width: 290px;
  }
}

.promo__text-wrap {
  display: flex;

  width: 560px;

  background-color: #ed0233;
  background-image: url("../img/promo-bg-lg@1x.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 280px 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-bg-lg@2x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-bg-lg@1x.webp");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-bg-lg@2x.webp");
  }

  @media (max-width: $screen-md) {
    margin-bottom: 30px;
    width: 678px;

    background-image: url("../img/promo-bg-md@1x.jpg");
    background-size: 399px 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-md@2x.jpg");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-md@1x.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-md@2x.webp");
    }
  }

  @media (max-width: $screen-sm) {
    display: block;

    padding-bottom: 299px;
    width: 290px;

    background-image: url("../img/promo-bg-sm@1x.jpg");
    background-position: left bottom;
    background-size: 290px 299px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-sm@2x.jpg");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-sm@1x.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-bg-sm@2x.webp");
    }
  }
}

.promo__text {
  padding: 39px 35px 45px 45px;
  width: 280px;

  line-height: 1.1;

  color: $white;

  @media (max-width: $screen-md) {
    width: 279px;
  }

  @media (max-width: $screen-sm) {
    padding-top: 42px;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;

    text-align: center;
  }
}

.promo__text span {
  display: block;

  font-size: 28px;
}

.promo__text b {
  display: block;

  margin-bottom: 14px;

  font-size: 70px;

  @media (max-width: $screen-sm) {
    margin-bottom: 10px;
  }
}

.promo__text p {
  margin: 0;
  margin-bottom: 189px;
  padding: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;

  @media (max-width: $screen-sm) {
    margin-bottom: 29px;
  }
}

.promo__link {
  position: relative;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $white;

  border-bottom: 1px solid $white;

  &--blue {
    margin-top: auto;
    width: 68px;

    font-size: 12px;
    line-height: 14px;

    text-align: left;

    color: $blue;
    border-bottom: 1px solid $blue;

    @media (max-width: $screen-sm) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

.promo__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: auto;
  width: 560px;

  color: $blue;

  @media (max-width: $screen-md) {
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0;
    width: auto;
  }

  @media (max-width: $screen-sm) {
    display: block;
  }
}

.promo__item {
  padding: 17px 26px 28px;

  border: 7px solid transparent;
  border-image: linear-gradient(135deg, #d10a42 5%, #00359f 100%);
  border-image-slice: 1;
  background-color: $white;

  @media (max-width: $screen-md) {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    padding-right: 29px;
    padding-bottom: 30px;
    padding-left: 29px;
    width: 324px;

    @media (max-width: $screen-sm) {
      margin-bottom: 30px;
      padding-top: 30px;
      padding-bottom: 39px;
      width: 290px;

      text-align: center;
    }
  }
}

.promo__item h3 {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;

  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;

  @media (max-width: $screen-md) {
    margin-bottom: 5px;
  }
}

.promo__item p {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;

  font-size: 16px;
  line-height: 1.4;

  @media (max-width: $screen-md) {
    margin-bottom: 47px;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 25px;
  }
}

.promo__item--discount p {
  @media (max-width: $screen-sm) {
    padding-left: 26px;
    padding-right: 26px;
  }
}
