.promo {
  padding-top: 118px;
  padding-bottom: 46px;

  @media (max-width: $screen-md) {
    padding-top: 99px;
    padding-bottom: 51px;
  }

  @media (max-width: $screen-sm) {
    padding-top: 70px;
    padding-bottom: 12px;
  }
}

.promo__inner {
  @media (max-width: $screen-sm) {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 600px;
  }
}

.promo h2 {
  margin-bottom: 52px;

  text-align: center;

  @media (max-width: $screen-md) {
    margin-bottom: 41px;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 42px;
  }
}

.promo__container {
  display: flex;
  flex-wrap: wrap;

  font-weight: 700;

  @media (max-width: $screen-md) {
    flex-direction: column;

    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

.promo__text-wrap {
  display: flex;

  width: 560px;

  @media (max-width: $screen-md) {
    margin-bottom: 25px;
    width: 100%;
  }

  @media (max-width: $screen-sm) {
    display: block;
  }
}

.promo__text {
  display: flex;
  flex-direction: column;
  padding: 39px 35px 50px 45px;
  width: 280px;

  line-height: 1.1;

  color: $white;
  background-color: #ed0233;

  @media (max-width: $screen-md) {
    flex-shrink: 0;
    width: 41.1%;
  }

  @media (max-width: $screen-sm) {
    display: block;
    padding: 40px 50px 47px;

    width: 100%;

    text-align: center;
  }
}

.promo__text span {
  display: block;

  font-size: 28px;
}

.promo__text b {
  display: block;

  margin-bottom: 14px;

  font-size: 70px;

  @media (max-width: $screen-sm) {
    margin-bottom: 10px;
  }
}

.promo__text p {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;

  @media (max-width: $screen-sm) {
    margin-bottom: 29px;
  }
}

.promo__link {
  position: relative;
  margin-top: auto;

  width: 80px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $white;
  border-bottom: 1px solid $white;

  @media (max-width: $screen-sm) {
    width: auto;
  }

  &--blue {
    margin-top: auto;
    width: 68px;

    font-size: 12px;
    line-height: 14px;

    text-align: left;

    color: $blue;
    border-bottom: 1px solid $blue;

    @media (max-width: $screen-sm) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.7;
    outline: none;
  }
}

.promo__img {
  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.promo__img img {
  width: 280px;
  height: 100%;

  font-family: "object-fit: cover"; /*stylelint-disable*/

  object-fit: cover;
  object-position: top center;

  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.promo__list {
  margin-left: auto;
  width: 560px;

  color: $blue;

  @media (max-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    width: auto;
  }

  @media (max-width: $screen-sm) {
    display: block;
  }
}

.promo__item {
  padding: 18px 28px 27px;

  border-width: 7px;
  border-style: solid;
  border-image: linear-gradient(135deg, #d10a42 5%, #00359f 100%);
  border-image-slice: 1;
  background-color: $white;

  @media (max-width: $screen-md) {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    padding: 18px 28px 29px;
    width: 47.8%;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 39px;
    width: 100%;

    text-align: center;
  }

  &:not(:first-of-type) {
    margin-top: 40px;

    @media (max-width: $screen-md) {
      margin-top: 0;
    }
  }
}

.promo__item h3 {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;

  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;

  @media (max-width: $screen-md) {
    margin-bottom: 5px;
  }
}

.promo__item p {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;

  font-size: 16px;
  line-height: 1.4;

  @media (max-width: $screen-md) {
    margin-bottom: 47px;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 25px;
  }
}

.promo__item--discount p {
  @media (max-width: $screen-sm) {
    padding-right: 26px;
    padding-left: 26px;
  }
}
